/* NavBar Styles */
.container_nav {
  background-color: #030407;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0)
    ),
    url(../../../Images/Nav-Background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  height: 10vh;
  display: flex;
  color: white;
}

/* Styles for list items */
.list_items {
  list-style-type: none;
  padding: 6px;
  padding-right: 100px;
  position: relative;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 19px;
}

/* Styles for links */
.enlaces {
  all: unset;
  text-decoration: none;
  color: grey;
  background: none;
}
.enlaces:hover {
  color: white;
}

/* Styles for the drop-down menu container */
.dropdown_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #002743;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 1;
  border: solid #003d5a;
}
.dropdownUser {
  right: 120px;
  left: -100px;
}
/* Styles for submenu items */
.dropdown_menu .list_items {
  width: 200px;
  padding: 10px;
  font-size: 16px;
}

/* Show submenu when hovering the mouse over the parent item */
.dropdown_menu {
  display: block;
}
/* Search bar */

.navBarInput {
  margin-top: 20px;
  margin-left: 0px;
  padding: 3px;
  border: 1px solid #ffffff;
  background: none;
  border-radius: 14px;
  font-size: 16px;
  height: 20px;
  color: white;
  outline: none;
}

.NavButtons {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  background: none;
}

.awesomeIcons {
  color: white;
  font-size: 27px;
  margin: 10px;
}

.navIconsRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.divLogin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
