.div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 400px;
  background-color: #002743;
  border: 1px solid #003d5a;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  width: 230px;
  margin-bottom: 5px;
}
.button {
  margin-top: 20px;
  width: 20vw;
  color: white;
  font-size: 18px;
  background-color: #004997;
  border: none;
  border-radius: 4px;
  height: 38px;
}
.p {
  font-size: 12px;
  color: grey;
}
.a {
  text-decoration: none;
  color: #004997;
}
