.containerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 400px;
  background-color: #002743;
  border: 1px solid #003d5a;
}
.containerLogin > div {
  position: absolute;
  margin: 0;
  padding: 0;
  margin-left: 22rem;
  margin-bottom: 18rem;
}
.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageLogin {
  display: flex;
  justify-content: center;
  width: 230px;
  margin-bottom: 5px;
}
.buttonLogin {
  margin-top: 20px;
  width: 20vw;
  color: white;
  font-size: 18px;
  background-color: #004997;
  border: none;
  border-radius: 4px;
  height: 38px;
}
.pLogin {
  font-size: 12px;
  color: grey;
}
.aLogin {
  text-decoration: none;
  color: #004997;
}
